# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [14]:
import pandas as pd
import numpy as np

In [15]:
data = {'Country': ['Taiwan', 'USA', 'UK', 'Japan','Korea'],
        'Population': np.random.randint(low=500000000,high=1000000000,size=5)} #low和high決定數值大小
data = pd.DataFrame(data)
data

  Country  Population
0  Taiwan   994586071
1     USA   602613192
2      UK   899628585
3   Japan   643956419
4   Korea   992921474

In [16]:
sort_by_Population = data.sort_values('Population',ascending=False)
sort_by_Population

  Country  Population
0  Taiwan   994586071
4   Korea   992921474
2      UK   899628585
3   Japan   643956419
1     USA   602613192

In [25]:
sort_by_Population.loc[0,'Country']

'Taiwan'

In [26]:
print('人口數最多的國家 : ',sort_by_Population.loc[0,'Country'], '人口數為 : ',sort_by_Population.loc[0,'Population'])

人口數最多的國家 :  Taiwan 人口數為 :  994586071